body{
 /* width: 1600px;
height: 7335px; */
}
/* This is banner */
.banner{
 margin: auto;
 background-image: linear-gradient(to bottom , rgba(0, 0, 0, 1)
 10%, rgba(0, 0, 0, 0) 100%), url(images/banner.png);
width: 1320px;
 height: 600px;
 border-radius: 16px;
}
.title{
 margin-bottom: 0%;
 padding-bottom: 0%;
padding-top: 150px;
 color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.content{
 margin-top: 0%;
 padding-top: 0%;
 color: #FFF;
 text-align: center;
 font-family: 'Merriweather', serif;
 font-size: 72px;
 font-style: normal;
 font-weight: 200;
 line-height: 95px; 
}
.main-title{
 color: #F00;
text-align: center;
font-family: Inter;
font-size: 65px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 0%;
padding-bottom: 0%;
}
.paragraph{
 margin-bottom: 0%;
 padding-bottom: 0%;
 color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.all-categories{
 margin-top: 5px;
 color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* This is new year photo */
.new-year-photo{
 width: 802.9px;
height: 500px;
margin: auto;
}
/* This is welcome */
.welcome{
 color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
 padding-top: 126px;
margin-left: 126px; 
width: 642px;
}
section{
 background-image: linear-gradient(to right , rgba(0, 0, 0, 1)
 10%, rgba(0, 0, 0, 0) 100%), url(images/vectory.png);
 width: 1320px;
 height: 600px;
 border-radius: 16px;
 margin: auto;
margin-top: 200px;
}
.welcome-peragraph{
 width: 697px;
 color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400; 
margin-left: 126px; 
}
.join-btn{
 background-color: rgb(0 0 0);
 color: #FFF;
text-align: center;
font-family: Inter;
text-transform: uppercase;
margin-left: 150px;
padding-top: 40px;
border: none;
}
.card{
 margin: auto;
 margin-top: 50px;
 width: 1320px;
height: 482px;
background-color: #fff2f2;
border-radius: 6px;
}
span{
 padding-top: 50px;
text-align: center;
 color: #F00;
text-align: center;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 56px; 
text-transform: capitalize;
}
.new{
padding-top: 50px;
text-align: center;
 margin: auto;
 color: #070211;
font-family: Inter;
font-size:25px;
font-style: normal;
font-weight: 600;
text-transform: capitalize;
}
.join-now{
 color: #FFF;
font-family: Inter;
font-size: 15px;
padding: 16px 32px;
border-radius: 8px;
background: #F00;
border: none;
}
.join-button{
 text-align: center;
}
#threediv{
 margin-top: 100px;
 gap: 3%;
 display: inline-flex;
 width: 100%;
}
.div-one{
 margin-left: 7%;
 width: 25%;
}
.div-two{
 width: 30%;
}
.div-three{
 width: 26%
}
.border{
 border-radius: 463px;
 border: 15px solid #F00;
width: 400px;
height: 400px;
position: relative;
padding-top: 15px;
}
.photo{
justify-content: center;
text-align: center;
margin:15px ;
}
.new-best{
 color: #F00;
 font-family: Inter;
 font-size: 24px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
}
.coming-son{
 color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.summary{
 color: #aba9ae;
font-family: Inter;
font-size: 15px;
font-weight: 400;
}
.year{
 color: #F00;
font-family: Inter;
font-size: 45px;
font-weight: 700;
}
.introduction{
 color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 15px;
font-weight: 400;
}
.main-div{
 margin-top: 50px;
 width: 1600px; 
height: 1335px;  
}
.what-is-functional{
 margin: auto;
 text-align: center;
 color: #070211;
font-family: Inter;
font-size: 20px;
/* font-style: normal; */
font-weight: 500;
/* line-height: normal; */
}
.Holidays{
 color: #F00;
 font-family: Merriweather; 
 font-size: 50px; 
 font-weight: 800;
}
.holiday-sale{
 text-align: center;
 color: #070211;
font-family: Merriweather;
font-size: 50px;
font-weight: 800;
}
.heading-paragraph{
 width: 668px;
 color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size:15px;
margin: auto;
font-weight: 500;
}
.second-main-div{
width: 100%;
}
.second-div{
 width: 50%;
}
.third-div{
margin-right: 150px;
margin-top: 50px;
 width: 429px;
height: 433px;
 float: right;
 background-image: url(images/rectangle-1.png);
}
.div-no-four{
 margin-right: 150px;
 background-image: url(images/rectangle2.png);
 width: 1320px;
 height: 229px;
 flex-shrink: 0;
 border-radius: 16px 0px 16px 16px;
 float: inline-end;
 justify-content: center;
}
.div-no-four.group75{
 margin-top: 0%;
 padding-top: 0%;
 float: inline-start;
 width: 98.77px;
height: 145.319px;

}
