body{
 /* width: 1600px;
height: 7335px; */
}
/* This is banner */
.banner{
 margin: auto;
 background-image: linear-gradient(to bottom , rgba(0, 0, 0, 1)
 10%, rgba(0, 0, 0, 0) 100%), url(images/banner.png);
width: 1320px;
 height: 600px;
 border-radius: 16px;
}
.title{
 margin-bottom: 0%;
 padding-bottom: 0%;
padding-top: 150px;
 color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.content{
 margin-top: 0%;
 padding-top: 0%;
 color: #FFF;
 text-align: center;
 font-family: 'Merriweather', serif;
 font-size: 72px;
 font-style: normal;
 font-weight: 200;
 line-height: 95px; 
}
.main-title{
 color: #F00;
text-align: center;
font-family: Inter;
font-size: 65px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 0%;
padding-bottom: 0%;
}
.paragraph{
 margin-bottom: 0%;
 padding-bottom: 0%;
 color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.all-categories{
 margin-top: 5px;
 color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* This is new year photo */
.new-year-photo{
 width: 802.9px;
height: 500px;
margin: auto;
}
/* This is welcome */
.welcome{
 color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
 padding-top: 126px;
margin-left: 126px; 
width: 642px;
}
.welcome-section{
 display:flex;
 background-image: linear-gradient(to right , rgba(0, 0, 0, 1)
 10%, rgba(0, 0, 0, 0) 100%), url(images/vectory.png);
 width: 1320px;
 height: 600px;
 border-radius: 16px;
 margin: auto;
margin-top: 200px;
}
.group70{
 margin: auto;
}
.welcome-peragraph{
 width: 697px;
 color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400; 
margin-left: 126px; 
}
.now-btn{
 border-radius: 0%;
 background-color: rgb(0 0 0);
 color: #FFF;
margin: auto;
font-family: Inter;
margin-left: 120px;
width: 100px;
border: none;
}
.style-button{
 align-items: center;
}
.card{
 margin: auto;
 margin-top: 50px;
 width: 1320px;
height: 482px;
background-color: #fff2f2;
border-radius: 6px;
}
span{
 padding-top: 50px;
text-align: center;
 color: #F00;
text-align: center;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 56px; 
text-transform: capitalize;
}
.new{
padding-top: 50px;
text-align: center;
 margin: auto;
 color: #070211;
font-family: Inter;
font-size:25px;
font-style: normal;
font-weight: 600;
text-transform: capitalize;
}
.join-now{
 color: #FFF;
font-family: Inter;
font-size: 15px;
padding: 16px 32px;
border-radius: 8px;
background: #F00;
border: none;
}
.join-button{
 text-align: center;
}
#threediv{
 margin-top: 100px;
 gap: 3%;
 display: inline-flex;
 width: 100%;
}
.div-one{
 margin-left: 7%;
 width: 25%;
}
.div-two{
 width: 30%;
}
.div-three{
 width: 26%
}
.border{
 border-radius: 463px;
 border: 15px solid #F00;
width: 463px;
height: 463px;
position: relative;
display: flex;
}
.photo{
justify-content: center;
text-align: center;
margin:15px ;
}
.new-best{
 color: #F00;
 font-family: Inter;
 font-size: 24px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 margin-bottom: 0%;
 padding-bottom: 0%;
}
.coming-son{
 margin-top: 0%;
 padding-top: 0%;
 color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.summary{
 color: #aba9ae;
font-family: Inter;
font-size: 15px;
font-weight: 400;
}
.year{
 color: #F00;
font-family: Inter;
font-size: 45px;
font-weight: 700;
margin-bottom: 0%;
padding-bottom: 0%;
}
.introduction{
 margin-top: 0%;
 padding-top: 0%;
 color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 15px;
font-weight: 400;
}
.main-div{
 margin-top: 50px;
 width: 1600px; 
height: 900px;  
}
.what-is-functional{
 margin: auto;
 text-align: center;
 color: #070211;
font-family: Inter;
font-size: 20px;
padding-bottom: 0%;
margin-bottom: auto;
font-weight: 500;
}
.Holidays{
 color: #F00;
 font-family: Merriweather; 
 font-size: 50px; 
 font-weight: 800;
}
.holiday-sale{
 margin-top: 0%;
 padding-top: 0%;
 text-align: center;
 color: #070211;
font-family: Merriweather;
font-size: 50px;
font-weight: 800;
padding-bottom: 0%;
margin-bottom: 0%;
}
.heading-paragraph{
margin-top: 5px;
padding-top:5px;
 width: 668px;
 color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size:15px;
margin: auto;
font-weight: 500;
}
.second-main-div{
width: 100%;
}
.second-div{
 width: 50%;
}
.third-div{
margin-right: 150px;
margin-top: 100px;
 width: 429px;
height: 433px;
 float: right;
 background-image: url(images/rectangle-1.png);
 margin-bottom: 0%;
 padding-bottom: 0%;
}
.group44{
margin-top: 100px;
width: 200px; 
width: 206.841px;
height: 206.841px;
float: left;
}
.holidays{
 display: flex;
 width: 100px;
 position: absolute;
}
.redbox{
 float: inline-end;
width: 1320px;
 margin-top:0%;
 height: 200px;
 background-color: #F00; 
 text-align: center;
 border-radius: 16px 0px 16px 16px;
 margin-right: 150px;
 } 
.div-no-four{ 
 width: 1320px; 
 border-radius: 16px 0px 16px 16px;
} 
.group75{
 margin-top: 50px;
 fill: linear-gradient(90deg, #FFF 0.26%, #1D1D1B 100.35%);
}
.group44 .img44{
 width: 300px;
 margin-top: 90px;
 margin-left: 70px;
}
 section{
 margin-top: 0%;
 padding-top: 0%;
 margin-left: 130px;
 } 
.the-best{
 margin-bottom: 0%;
 padding-bottom: 0%;
 color: #F00;
 font-family: Inter;
 font-size: 15px;
 font-weight: 500;
}
.our-awesome{
margin-top: 0%;
padding-top: 0%;
color: #070211;
font-family: Merriweather;
font-size:35px;
margin-bottom: 0%;
padding-bottom: 0%;
}
.looking-paragraph{
 margin-top: 10px;
 width: 896px;
 color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}
.three-image{
 gap:2%;
 margin-top: 2%;
 display: inline-flex;
}
.three-image > img{
 border-radius: 15px;
 width: 424px;
height: 450px;
margin-bottom: 50px;

}
.three-image > img:hover{
border: 10px solid aqua;
}
.first-footer{
 padding-top: 20px;
 margin-top: 20px;
 margin: auto;
 width: 1320px;
height: 616px;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
}
.group66{
text-align: center;
margin-bottom: 0%;
padding-bottom: 0%;
}
.subscribe{
 margin-top: 0%;
 padding-top: 0%;
 color: #070211;
font-family: Merriweather;
font-size: 35px;
font-weight: 900;
margin-bottom: 0%;
padding-bottom: 0%;
}
.learn-paragraph{
 width: 896px;
 margin: auto;
 color: rgba(7, 2, 17, 0.60);
justify-content: center;
font-family: Inter;
font-size: 20px;
font-weight: 400;
}
.input-and-button{
 margin-top: 50px;
 gap: 0%;
justify-content: center;
text-align: center;
}
input{
 gap: 0%;
 border: none;
 text-align: center;
 width: 648px;
height: 72px;
border-radius: 50px;
background-color: #FFF;
}
button{
 gap: 0%;
 color: #FFF;
 width: 210px;
height: 72px;
border-radius: 0px 50px 50px 0px;
background: #F00;
border: none;
}
.last-footer{
 color: #FFF;
margin-top: 50px;;
width: 100%;
height: 609px;
padding-left: 10px;
background-color: #070211;
}
.last-paragraph{
 color: #FFF;
font-family: Inter;
font-size: 18px;
width: 500px;
margin-top: 120px;
margin-left: 140px;
}
.two-divs{
 display: inline-flex;
}
.two-imgs{
 margin-left: 600px;
margin-top: 120px;
margin-right: 0%;
padding-right: 0%;
}
.number{
justify-content: center;
 width: 24px;
height: 24px;
}
.nothing{
 margin: auto;
 width: 1320px;
 height: 1px;
 background-color: rgba(255, 255, 255, 0.15); ;
}
.four-images{
gap: 20px;
 display: inline-flex;
 margin-top: 100px;
margin-left: 600px;
margin-bottom: 80px;
}
.two-sentence{
 gap:900px;
 display: inline-flex;
 color: #FFF;
font-family: Inter;
font-size: 19px;
margin-left:200px ;
}



